---
page_title: "Provider: CDO"
description: |-
  The Cisco Defense Orchestrator provider is used to manage devices and other security resources on Cisco Defense Orchestrator using Terraform.
---

# CDO Provider

Use the Cisco Defense Orchestrator (CDO) provider to onboard and manage the many devices and other resources supported by CDO. 

{{ .SchemaMarkdown | trimspace }}